/* 
Author: Jake Seever
For: Mike England BioSite
Last Update: 11/01/2018
*/

html {
    font-size: 16px;
    margin: 0;
}

body {
    background-color: #E0DECC;
    margin: 0px;
}

main {
    margin: 0px;
}

header {
    padding: 1em;
    border: .1em solid black;
    background-color: #3F663AE6;
    width: 100%;
}

#mainHeading {
    padding: 1.2em;
    font-family: 'Cinzel', serif;
    font-size: 2.441em;
    text-align: center;
}

#mainHeading H1 {
    margin-left: 10%;
}

aside {
    background-color: #8E6E53f2;
    display: block;
    float: left;
    border: .1em solid black;
    width: 25%;
    height: 100%;
}

aside h2 {
    text-align: center;
}

aside ol li {
    font-family: 'Inconsolata', monospace, Arial;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-top: 2%;
}

#intro,
#midSection,
#kennelSection {
    font-family: 'Inconsolata', monospace, Arial;
    display: block;
    /*border: .1em solid black;*/
    width: 74%;
    float: right;
}

#intro h2,
#midSection h2,
#kennelSection h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

#intro p,
#midSection p,
#kennelSection p {
    font-family: 'Inconsolata', monospace, Arial;
    font-size: 1em;
    line-height: 1.25em;
    margin-left: 2%;
    margin-right: 2%;
}

#midSection {
    background-color: #7A7265CC;
}

#headerLogo {
    display: inline-block;
    float: right;
    width: 15%;
    margin-right: 10%;
    padding: .25em;

}

#DHKLink {
    text-decoration: none;
    color: rgba(96, 210, 20, 1.0);
    font-weight: 700;
}

#DHKLink:hover {
    color: #3F663A;
}

#DHKLink:visited {
    color: rgba(177, 16, 16, 1.0);
}

.contentImg {
    width: 23%;
    display: inline-block;
    float: right;
    clear: both;
    margin-bottom: .6em;
    margin-left: .5em;
    border: .2em solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 1%;
}

footer {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    border: .1em solid black;
    padding: 1em;
    background-color: #3F663AE6;

}

footer h4 {
    text-align: center;
    font-size: 1.25em;

}