/* 
Author: Jake Seever
For: Mike England BioSite
Last Update: 11/08/2018
*/

html {
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

body {
      background-color: #E0DECC;
    background-color: #E0DECCE6;
    margin: 0px;
}

main {
    margin: 0px;
}

header {
    padding: 1em;
    border: .1em solid black;
     background-color: #3F663A;
    background-color: #3F663ACC;
    width: 99%;
}

#headerLogo {
    display: inline-block;
    float: right;
    width: 15%;
    margin-right: 10%;
    padding: .25em;
    min-width: 150px;

}

#headerLogo2 {
    display: inline-block;
    float: left;
    width: 15%;
    margin-left: 5%;
    padding: .25em;
    min-width: 150px;

}

#mainHeading {
    padding: 1.2em;
    font-family: 'Cinzel', serif, Arial;
    font-size: 2.441em;
    text-align: center;
}

#mainHeading H1 {
    margin-left: 10%;
}

#intro,
#midSection,
#kennelSection {
    font-family: 'Inconsolata', monospace, Arial;
    display: block;
    width: 70%;
    float: left;
    margin-left:15%;
    padding: 2%;
}

#intro h2,
#midSection h2,
#kennelSection h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.953em;
}

#intro p,
#midSection p,
#kennelSection p {
    font-family: 'Inconsolata', monospace, Arial;
    font-size: 1.10em;
    line-height: 1.5em;
    margin-left: 3%;
    margin-right: 3%;
    font-weight:500;
}
.firstParagraph{
    margin-top: 5%;
}

#midSection {
    background-color: #7A7265;
    background-color: #7A7265BF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
}

#DHKLink {
    text-decoration: none;
    color: rgba(96, 210, 20, 1.0);
    font-weight: 700;
}

#DHKLink:hover {
    color: #3F663A;
}

#DHKLink:visited {
    color: rgba(177, 16, 16, 1.0);
}

.contentImg {
    width: 23%;
    min-width: 200px;
    display: inline-block;
    float: right;
    clear: both;
    margin-bottom: .6em;
    margin-left: .5em;
    border: .2em solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 1%;
}

footer {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    border: .1em solid black;
    padding: 1em;
    background-color: #3F663A;
    background-color: #3F663ACC;

}

footer h3 {
    text-align: center;
    font-size: 1.563em;

}